extends ../shared/layout.pug

block content
  .container  
    
    ul.nav.nav-tabs.nav-justified
      li.active(role='navigation')
        input(id="CotizadorRadio" type="radio" name="menuRadio")
        a(href='#' data-toggle="tab")
          label(for="CotizadorRadio") Cotizador
		
      li(role='navigation')
        input(id="ConfigRadio" type="radio" name="menuRadio")
        a(href='#' data-toggle="tab")
          label(for="ConfigRadio") Cponfiguración
